

/* *{margin:0;padding:0;box-sizing:border-box} */
body{font-family:'Poppins',sans-serif;background:#1f2235;color:#fff}
a{text-decoration:none;color:inherit}

header{display:flex;justify-content:space-between;align-items:center;padding:30px 80px}
.logo{font-size:22px;font-weight:600}
nav a{margin-left:25px;font-size:14px}

.hero{display:flex;align-items:center;justify-content:space-between;padding:80px}
.hero-text h1{font-size:48px;line-height:1.3}
.hero-text p{margin:20px 0;max-width:420px;color:#cfcfcf}

.btn{display:inline-block;padding:14px 28px;background:#ff4a57;border-radius:8px;font-size:14px;color:#fff;border:2px solid wheat}

.profile-img img{width:260px;height:260px;border-radius:50%;object-fit:cover;border:6px solid #ff4a57}

.skills {
  padding:80px 40px;
}
*, *::before, *::after { 
  box-sizing: border-box; 
}
.skill-grid {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:30px;
}

/* .skills{padding:80px} */
.skills h2{font-size:32px;color:#ff4a57;margin-bottom:40px}
.skill-grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(220px,1fr));gap:30px}
.skill-card{background:#252840;padding:30px;border-radius:8px;text-align:center}
.skill-card h3{margin:15px 0 10px}
.skill-card p{font-size:13px;color:#bfbfbf}

.skill-card:hover{
    transform: rotateX(5deg) rotateY(5deg) scale(1.1);
    box-shadow: 20px 20px 40px rgb(0,0,0,0.3);
}

.btn:hover{
    transform: rotateX(5deg) rotateY(5deg) scale(1.1);
    box-shadow: 20px 20px 40px rgb(0,0,0,0.3);
}


.contact{padding:80px}
.contact h2{color:#ff4a57;margin-bottom:20px}
.contact form{max-width:400px}
.contact input,.contact textarea{width:100%;padding:12px;margin-bottom:15px;border:none;border-radius:4px;background:#252840;color:#fff}

footer{text-align:center;padding:20px;font-size:13px;color:#aaa}